.print {
	width: 100mm;
	height: 180mm;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	background: #f2692a;
	width: 100mm;
	height: 31mm;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	font-size: 32pt;
	font-weight: 400;
	color: #fff;
	line-height: 8mm;
	height: 10mm;
}

.body {
	background-color: #fff;
	height: 100%;
	width: 100mm;
	display: flex;
	flex-direction: column;
	padding: 5mm;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100mm;
	height: 33mm;
	display: flex;
	justify-content: center;
	background: #f2692a;
	align-items: center;
}

.logo {
	width: 30mm;
	height: auto;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px 5px;
}

.title-footer {
	font-family: 'Comic Sans MS', 'Comic Sans', cursive;
	font-size: 18pt;
	font-weight: 400;
	color: #fff;
}
