.card {
    position: relative;
    height: 16mm;
    width: 97mm;
}

.circle {
    position: absolute;
    top: -1px;
    background: #FEFEFE;
    border: 3.144px solid #F2692A;
    width: 16mm;
    height: 16mm;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.icon {
    width: auto;
    height: auto;
}

.background {
    position: absolute;
    left: 25px;
    width: 331px;
    height: 59px;
    display: flex;
    align-items: center;
    background: #C5C6C6;
}

.describe {
    position: absolute;
    left: 40px;
    width: 293px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: 400;
    font-size: 18.6662px;
    color: #2B2A29;
    line-height: 100%;
}