@font-face {
	font-family: 'comic_sans_msregular';
	src: url('/fonts/comic-webfont.woff2') format('woff2'),
		url('/fonts/comic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'comic_sans_msitalic';
	src: url('/fonts/comici-webfont.woff2') format('woff2'),
		url('/fonts/comici-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'comic_sans_msregular';
	src: url('/fonts/comicsansms3-webfont.woff2') format('woff2'),
		url('/fonts/comicsansms3-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'comic_sans_msbold_italic';
	src: url('/fonts/comicz-webfont.woff2') format('woff2'),
		url('/fonts/comicz-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'comic_sans_msregular';
	src: url('/fonts/design.graffiti.comicsansms-webfont.woff2') format('woff2'),
		url('/fonts/design.graffiti.comicsansms-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'comic_sans_msbold';
	src: url('/fonts/design.graffiti.comicsansmsgras-webfont.woff2')
			format('woff2'),
		url('/fonts/design.graffiti.comicsansmsgras-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
